body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f3f7f0;
}

header {
  background: #2e7d32;
  color: white;
  padding: 20px;
  text-align: center;
}

.subtitulo {
  font-size: 1.1em;
  margin-top: -10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background: #4caf50;
  padding: 10px;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

h2 {
  color: #2e7d32;
}

button {
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #388e3c;
}

footer {
  background: #2e7d32;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}#grados {
  background: #e8f5e9;
  padding: 20px;
  margin-top: 20px;
}

.grados-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.grado-card {
  background: #4caf50;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.3s;
}

.grado-card:hover {
  background: #2e7d32;
  transform: scale(1.05);
}